html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #4c87af;
    overflow: hidden;
	color: white;
    display: flex;
    justify-content: space-between;
}

.webshop-name {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.navbar-nav li {
    margin-right: 1rem;
    cursor: pointer;
}

#wrap {
	width: 100%;
	min-height: 900px;
	top: 0px;
	position: relative;
	bottom: 0px;
}

#wrap ul {
	margin: 0px;
	padding: 0px;
	width: 700px;
	text-align: center;
}

#wrap .detail-view {
	border: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    left: 0;
    overflow: hidden;
    clear: both;
    display: none;
    margin-left: 13px;
    margin-bottom: 15px;
    width: 96%;
}

#wrap .detail-view .close {
	text-align: right;
	width: 98%;
	margin: 5px;
}

#wrap .close a {
	padding: 6px;
	height: 10px;
	width: 20px;
	color: #525049;
}

#wrap .detail-view .detail_images {
	float: left
}

#wrap .detail-view .detail_info{
	float: right;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
    color: #525049;
    margin-right: 20px;
    margin-top: 30px;
    text-align: justify;
    width: 250px;
    font-size: 12px;
}

#wrap .detail-view .comments_section{
	float: right;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
    color: #525049;
    width: calc(96% - 20px); 
    font-size: 12px;
	display: flex;  
    flex-direction: column; 
    align-items: flex-start; 
}

#wrap .detail-view .comments_section p {
    margin-bottom: 10px;
}

#wrap .detail-view .comments_section ul {
    list-style: none;
    padding: 0;
	margin: 0;
	display: flex;  
    flex-direction: column; 
    align-items: flex-start; 
}

#wrap .detail-view .comments_section li {
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
    font-size: 12px;
    color: #525049;
    margin-bottom: 10px;
	border: 1px solid #E2E2E2;  
    padding: 10px; 
	box-sizing: border-box;
    height: 100%; 
	text-align: start;
}


#wrap .detail-view .comments_section li.no-comments {
    color: #888;
    margin-bottom: 10px;
}

#wrap .detail-view .detail_info label {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 60px;
}

#wrap .detail-view .detail_info p {
	height: 110px;
}

a#show_cart {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E8E7DC;
	cursor: pointer;
	display: block;
	display: inline-block;
	font: 9px/21px "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
	letter-spacing: 2px;
	color: #525049;
	padding: 8px;
	text-decoration: none;

	text-transform: uppercase;
}

.add-to-cart-button {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E8E7DC;
	cursor: pointer;
	display: inline-block;
	font: 9px/21px "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
	letter-spacing: 2px;
	padding-top: 10px;
	color: #525049;
	margin-top: 15px;
	text-transform: uppercase;
}

.add-to-cart-button:hover {
	background: none repeat scroll 0 0 #F8F8F3;
}

.shopp {
	background: none repeat scroll 0 0 #F8F8F3;
}

#wrap ul li {

	list-style-type: none;
	height: 146px;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 15px;
	float: left;
	padding: 15px 0px 0px 0px;
	font-family: "LubalGraphBdBTBold", Tahoma;
	font-size: 2em;
	border: solid #fff 1px;
	overflow: hidden;
}

.footer {
	height: 400px;
	background: #E2E2E2
}

#wrap ul li:hover {
	border: solid #f3f4ee 1px;
}

#wrap ul li div {

	height: 31px;
	text-align: center;
	width: 160px;
	margin-top: 10px;
	position: relative;
	bottom: 0px;
	padding-top: 6px;
	padding-bottom: 4px;
	background: #f3f4ee;
	font: 12px/21px "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
	opacity: 0.8;
	color: #525049;
	text-shadow: 0px 2px 3px #555;
}

img#cart {
	bottom: 0px;
	position: fixed;
	margin-left: 30px;
}

#wrap ul li {
	cursor: pointer;
}

#cart_wrapper {
	border: solid #E8E7DC 1px;
	min-height: 120px;
	width: 100%;
	padding-top: 15px;
	display: none;
	background: #E2E2E2;
	font: 12px/21px "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;

	position: relative
}


#Submit {
	height: 78px;
	float: left;
}

.closeCart {
	cursor: pointer;
}

button {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E8E7DC;
	width: 140px;
	cursor: pointer;
	display: inline-block;
	font: 9px/21px "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
	letter-spacing: 2px;
	padding-top: 12px;
	color: #525049;
	margin-top: 1px;
	border: solid #ccc 1px;
	padding: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin-left: 20px;
	text-transform: uppercase;
}

button:hover {
	background: none repeat scroll 0 0 #F8F8F3;
}

.cart-total {
	background: none repeat scroll 0 0 #F8F8F3;
}

.shopp,
.cart-total {
	border: solid #E8E7DC 1px;
	padding: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	font-size: 12px;
	background: url(remove.png) center right no-repeat 5px;
	border-radius: 8px;
	font-family: "LubalGraphBdBTBold", Tahoma;
	margin-top: 3px;
	width: 320px;
	float: left;
}

#cart_form {
	width: 570px;
	padding-left: 15px;
}

div.shopp span {
	float: left;
}

div.shopp div.label {
	width: 130px;
	float: left;
}

div.shopp div.shopp-price {
	width: 70px;
	float: left;
}

.quantity {
	float: left;
	margin-top: -3px;
	width: 20px;
}

img.remove {
	float: right;
	cursor: pointer;
}

.cart-total b {
	width: 130px;
}

.select-label {
	font: 15px/21px "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
    color: #525049;
}

.input-and-button-container {
	display: flex;
	flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
	margin-bottom: 10px;
}

.comment-input {
	flex: 1;
	margin-right: 10px;
	margin-left: 10px;
	width: 100%;
}

.add-comment-button {
	cursor: pointer;
	padding: 7px;
	background-color: #4c87af;
	color: white;
	border: none;
	border-radius: 4px;
}
.add-comment-button:hover {
	background: none repeat scroll 0 0 #4c87af65;
}

#registrationForm, #loginForm, #addProductForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registrationForm h2,  #loginForm h2, #addProductForm h2 {
	color: #333;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#registrationForm label, #loginForm label, #addProductForm label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

#registrationForm input,  #loginForm input, #addProductForm input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#registrationForm button,  #loginForm button, #addProductForm button {
    background-color: #4c87af;
    color: white;
    padding: 10px px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 140px;
}

#registrationForm button:hover,  #loginForm button:hover, #addProductForm button:hover {
    background-color: #4c87af;
}

.filter-container {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    justify-content: center;
	text-align: center;
	align-items: center;
    padding: 10px;
    background-color: #4c87afd2;
	border-radius: 4px;
    color: white;
}

.filter-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
    gap: 20px;
}
.filter-options label {
    font-size: 14px;
    margin-right: 8px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.filter-select {
	font: 15px "Helvetica Neue", Helvetica, "Nimbus Sans L";
    padding: 8px;
    border: 1px solid #fff;
    background-color: #4c87afd2;
    color: #fff;
    border-radius: 4px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#btn-apply-filter, #btn-clear-filter
{
	margin: 10px;
}